body{
	background-color: grey;
	margin: 0px;
	padding: 0px;
}
.body{
	display: flex;
	justify-content: center;
}
.pub{
	margin-top: 10px;
	border-radius: 5px;
	width: 70%;
	background-color: rgba(250,250,250);
}
.send{
	display: flex;
	padding: 15px;
	border-bottom-style:solid;
	border-color: grey;
	border-width: 3px;
}
.send a{
	text-decoration: none;
	display: flex;
}
.send img{
	margin-top: 0px;
	height: 75px;
	width:75px;
	border-radius: 75px;
}
.send h2{
	margin: 0px;
	margin-top: 10px;
	margin-left: 10px;
	font-family: sans-serif;
	color: black;
	font-weight: bold;
}
.send div p{
	font-family: sans-serif;
	margin: 5px;
	color: rgb(30,30,30);
}
.legend{
	margin-left: 20px;
	font-family: sans-serif;
	color: black;
	font-size: 20px;
}
.file{
	text-align: center;
}
.react{
	padding: 10px;
	border-top-style:solid;
	border-color: grey;
	border-width: 3px;	 
}
.react a{
	text-decoration: none;
	font-size: 35px;
}
.react a i{
	transition: .5s ease-in-out;
	color:rgb(30,30,30);
}
.react a i:hover{
color: rgb(235, 23, 23);	
}
.coms{
	background-color: white;
	padding: 10px;
	padding-top: 0px;
	font-family: sans-serif;
}
.coms h2{
	margin: 0px;
	text-align: center;
}
.coms form{
	display: flex;
	justify-content: center;
	background-color: rgba(250,250,250);
	position: sticky;
	bottom: 0;
}
.coms button{
	transition: .5s ease-in-out;
	background-color: transparent;
	border:none;
	font-size: 25px;
}
.coms button:hover{
	color: blue;
}
.coms textarea{
	padding: 5px;
	padding-left: 15px;
	width: 60%;
	border-radius: 25px;
}
.co{
	padding: 15px;
	display: flex;
	position: relative;
}
.co div{
	background-color: rgba(150,150,150);
	border-radius: 15px;
	margin-left: 10px;
}
.co img{
	height: 50px;
	
	border-radius: 50px;
}
.co p{
	color:rgba(250,250,250);
	font-weight: bolder;
	margin: 5px;
}